body{
    height:100%;
    width: 100%;
    font-family: arial;
    font-size: 15;
}
input[type="text"]{
    border-color: rgb(96,214,110);
    border-width: thin;
    font-family: arial;
    font-size: 15;
}
form{
    width: 100%;
}
.aComment{

    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(175,235,182);
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.content{
    width:100%;
    height:100%;
    background-color: white;
    display: inline-block;
}
.pictureView{
    height:390px;
    width:650px;
    margin:0px;
    padding: 10px;
    position: relative;
    float: left;
    left: 50px;
    background-color: white;
}
.comments{
    height:315px;
    width:750px;
    margin-left: 77px;
    padding: 10px;
    position: relative;
    float: left;
    background-color: white;
    overflow-y: scroll;
}
.addComment{
    height:32px;
    width:745px;
    margin-left: 77px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    float: left;
    background-color: white;
}
input.submitbutton{
    float:right; 
    margin-right:-22px;
}
input.submitbutton:hover {
    opacity: 0.8;
}
input.submitbutton:active {
    position: relative;
    top: 2px;
    left: 2px;    
}

input.privateCheckbox{
    width: 20px; 
    height: 20px;
    float: left;
    position: relative;
}
div.submitContainer{
    width: 47%;
    padding-top: 5px;
    float: left; 
    margin-left: 73px;

}