body{
    height:100%;
    width: 100%;
    font-family: arial;
    font-size: 15px;
    background-color: rgb(229,239,230);
}

input[type="text"]{
    border-color: rgb(96,214,110);
    border-width: thin;
    font-family: arial;
    font-size: 20px;
}
input[type="password"]{
    border-color: rgb(96,214,110);
    border-width: thin;
    font-family: arial;
    font-size: 20px;
}
.header{
    width:100%;
    height:50px;
    background-color:#61d66f;
    display:inline-block;
}
.box{
    width: 480px;
    background-color:#AFEBB6;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
}
.title{
    height:35px;
    background-color:#61d66f;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 15px;
    padding-left:-20px;
}
.logo{
    display: inline-block;
    width:100px;
    color:white;
    padding: 5px ;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    position: relative;
}
#addInspirationButton{
    display: inline-block;
    width:12%;
    height:30px;
    line-height: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10%;
    float:none;
}
.sortByWrapper{
    display: inline-block;
    width: 7%;
    margin-left:25%;

    margin-top: 5px;
    max-height: 10px;
    cursor: pointer;
    color: black;

}
.searchBar{
    display: inline-block;
    width:20%;
    color:#484848;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:.5%;
    vertical-align: middle;
    position: relative;
    font-size: 1em;
}
#signInButton{
    height:30px;
    line-height: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;

    display: inline-block;
    width:10%;
    padding: 5px ;
    float:right;
    margin-right:20px;
}
.signinButton:hover{
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: #484848 5px 5px;
}
.nav{
    position:relative;
    width:100%;
    height:50px;
    background-color: #484848;
}
.navButton{
    display: inline-block;
    text-align:center;
    line-height:50px;
    width:24.7%;
    height:50px;

    color:#eeeeee;
    /*vertical-align: middle;*/
}
.navButton:hover{
    background-color: #e5efe6;
    color:#484848;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
}
.navButton:active{
    background-color: #e5efe6;
    color:#484848;
    border-radius: 10px 10px 0px 0px;
}
.nextButton{
    display: inline-block;
    height:50px;
    width: 25px;
    background-color: #61d66f;
    vertical-align: middle;
    margin-left:4%;
    color:#ffffff;

}
.nextButton:hover{
    background-color: #d6322f;
}
.content{
    width:100%;
    height:100%;
    display: inline-block;
}
.mainView{
    height:300px;
    width:500px;
    margin:0 auto;
    padding: 0px;
    position: relative;
    background-color: #a6deff;
}

#loginContainer{
    padding-top:5%;
    margin:auto;
    width:300px;
}

.emailInput{
    display: block;
    width:100%;
    color:black;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    font-size: 1em;
}
.passwordInput{
    display: block;
    width:100%;
    color:black;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    font-size: 1em;
}
.facebookButton{
    float:right;
    margin-left:15px;
    display: inline-block;
}
.loginButton{
    display: inline-block;
    float:right;
    margin-left:15px;
}
.signupContainer{
    margin-top: 10%;
}
.triangleDown:hover{
    cursor: pointer;
}

.aComment{

    border-style: solid;
    border-width: 1px;
    border-color: rgb(175,235,182);
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
}
.pictureView{
    width:36%;
    /*height:390px;
    width:650px;*/
    margin:0px;
    padding: 10px;
    position: relative;
    float: left;
    left: 50px;
}

.comments{
    height:315px;
    width:47%;
    /*height:315px;
    width:750px;*/
    margin-left: 77px;
    padding: 10px;
    position: relative;
    float: left;
    overflow-y: scroll;
    background-color: white;
}
.addComment{
    height:32px;
    width:100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    float: left;
}
input.submitbutton {
    float:right; 
    margin-right:-22px;
    background: #484848;
    background-image: -webkit-linear-gradient(top, #484848, #484848);
    background-image: -moz-linear-gradient(top, #484848, #484848);
    background-image: -ms-linear-gradient(top, #484848, #484848);
    background-image: -o-linear-gradient(top, #484848, #484848);
    background-image: linear-gradient(to bottom, #484848, #484848);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    /*border-radius: 10px;*/
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 3px 3px 5px #666666;
    -moz-box-shadow: 3px 3px 5px #666666;
    box-shadow: 3px 3px 5px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    outline: none;
}

input.submitbutton:hover {
  background: #666666;
  background-image: -webkit-linear-gradient(top, #666666, #666666);
  background-image: -moz-linear-gradient(top, #666666, #666666);
  background-image: -ms-linear-gradient(top, #666666, #666666);
  background-image: -o-linear-gradient(top, #666666, #666666);
  background-image: linear-gradient(to bottom, #666666, #666666);
  text-decoration: none;
    cursor: pointer;
}
input.submitbutton:active {
    position: relative;
    top: 2px;
    left: 2px;  
    -webkit-box-shadow: 0px 0px 0px #666666;
    -moz-box-shadow: 0px 0px 0px #666666;
    box-shadow: 0px 0px 0px #666666;  

}

input.privateCheckbox{
    width: 20px; 
    height: 20px;
    float: left;
    position: relative;
    background-color: white;
}
div.submitContainer{
    width: 47%;
    padding-top: 5px;
    float: left; 

}


/*DANTLeY"S STUFF*/
.picture/*this is for the class of the pictures*/
{
    width: 14%;
    height:130px;
    padding: .30%;
}
.picture:hover{
    cursor: pointer;
}
#ImageLine /*this is just for the div in which the picture reside*/
{
    width: 100%;
}
#scrollImageLeft /*scrollImage is for the arrow buttons sorry it is a bad name*/
{
    display: inline-block;
    margin-top: 20px;
    margin-right: .5%;
    float: left;
    height: 110px;

}
#scrollImageRight /*scrollImage is for the arrow buttons sorry it is a bad name*/
{
    display: inline-block;
    margin-right: 0px;
    margin-top: 20px;
    float: none;
    height: 110px;

}

/*Custom selector box for sort by */
.label {
    display: inline-block;
    cursor: pointer;
    color: #484848;
}
#sortBySelect select{
    border: none;
    color: #eee;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width:125%;
    *background: #484848;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#sortBySelect{
    overflow:hidden;
    width:115px;
    color:#eeeeee;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background: #484848;
    /*background: #484848 url('../Resources/TinyArrow.jpg')no-repeat scroll 80px center;*/
}
#sortBySelect:hover{
    box-shadow:1px 1px 5px #f4f4f4;
    cursor: pointer;
}