body{
    height:100%;
    width: 100%;
    font-family: arial;
    font-size: 15px;
    background-color: lightgray;
    margin: 0px 0px 0px 0px;
}

input[type="text"]{
    /*border-color: rgb(96,214,110);*/
    border-width: 0;
    font-family: arial;
    font-size: 20px;
    margin: auto;
    color:#484848;
}
input[type="password"]{
    border-color: rgb(96,214,110);
    border-width: 0;
    font-family: arial;
    font-size: 20px;
    margin: auto;
}
.header{
    width:100%;
    height:50px;
    background-color:#61d66f;
    display:inline-block;
}
.box{
    width: 480px;
    /*background-color:#AFEBB6;*/
    background-color: #efefef;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    display: inline;
    float: left;
}
.title{
    -moz-border-radius: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    height:35px;
    background-color:#61d66f;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 15px;
    padding-left:-20px;
    color:#484848;
    font-size: 20px;
}
.logo{
    display: inline-block;
    float: left;
    width:100px;
    color:white;
    padding: 4px ;
    margin-top: 20px;
    margin-bottom: 0px;
    line-height: 0;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
}
#addInspirationButton{
    display: inline-block;
    width:12%;
    height:30px;
    line-height: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 12%;
    float: left;
}
.sortByWrapper{
    display: inline-block;
    width: 7%;
    margin-left:23%;

    margin-top: 5px;
    max-height: 10px;
    cursor: pointer;
    color: black;

}
.searchBar{
    border-color: rgb(96,214,110);
    border-width: thin;
    display: inline-block;
    width:25%;
    color:#484848;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left:28%;
    height: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: .7%;
    padding-right: .7%;
    vertical-align: middle;
    position: relative;
    font-size: 1em;
    border-radius: 5px;
}
#signInButton{
    height:30px;
    line-height: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;

    display: inline-block;
    width:10%;
    padding: 5px ;
    float:right;
    margin-right:20px;
    transition: background-color .3s;
}
.signinButton:hover{
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: #484848 5px 5px;
}

@media(min-width: 1350px) {
    
.nav{
    position:relative;
    width:100%;
    height:50px;
    background-color: #484848;
    font-size: 19px;
    margin-bottom: 20px;
}
}
@media(max-width: 1350px){
    
.nav{
    position:relative;
    width:100%;
    height:50px;
    background-color: #484848;
}
    }


.navButton{
    display: inline-block;
    text-align:center;
    line-height:50px;
    width:24.7%;
    height:50px;
    transition: background-color .3s, color .3s;

    color:#eeeeee;
    /*vertical-align: middle;*/
}
.navButton:hover{
    background-color: rgb(141, 141, 141);
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
}
.navButtonActive{
    background-color: lightgray;
    border-radius: 10px 10px 0px 0px;
    color: #484848;
}
.navButtonActive:hover{
    background-color: lightgray;
    border-radius: 10px 10px 0px 0px;
    cursor: default;
}
.nextButton{
    display: inline-block;
    height:50px;
    width: 25px;
    background-color: #61d66f;
    vertical-align: middle;
    margin-left:4%;
    color:#ffffff;
    transition: background-color .3s;

}
.nextButton:hover{
    background-color: #d6322f;
}
a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    /*z-index: 10;*/
    /* raises anchor tag above everything else in div */
    /*workaround to make clickable in IE */
    /*opacity: 0;*/
    /*workaround to make clickable in IE */
    /*filter: alpha(opacity=0);*/
    /*workaround to make clickable in IE */
}
.content{
    width:100%;
    height:100%;
    display: inline-block;
}
#mainImage{
    max-width:100%;
    height: auto;
 }
.mainView{
    height:300px;
    width:500px;
    line-height: 300px;
    text-align: center;
    margin:0 auto;
    margin-top: 20px;
    padding: 0px;
    position: relative;
    background-color: #f8fdff;
    font-size: xx-large;
    color: #484848;
}

#loginContainer{
    padding-top:5%;
    margin:auto;
    width:300px;
}

.emailInput{
    display: block;
    width:100%;
    color:black;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    font-size: 1em;
}
.passwordInput{
    display: block;
    width:100%;
    color:black;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    font-size: 1em;
}
.facebookButton{
    float:right;
    margin-left:15px;
    display: inline-block;
}
.loginButton{
    display: inline-block;
    float:right;
    margin-left:15px;
}
.signupContainer{
    margin-top: 10%;
}
.triangleDown:hover{
    cursor: pointer;
}

.aComment{
    display:inline-block;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(154, 208, 156);
    padding: 2px;
    background-color: #afebb6;
    color: #484848;
}
.commentLine{
    display:block;
    margin: 5px;
}

#infoContainer{
    color: #484848;
    display: inline-block;
    height: 450px;
    width:41.4%;
    margin-top: auto;
    margin-left:6%;
    padding-top: 10px;

}
#op{
    width:70%;
    margin-left: 5%;
    display:inline-block;
 }
#starIcon{
    width:30px;
    height:30px;
    float:right;
    margin-right: 10px;
    content: icon;
}
#note{
    margin-top: 10px;
    width:90%;
    margin-left: 5%;
}
#opLink{
    margin-top: 10px;
    width:90%;
    margin-left: 5%;
    text-decoration: none;
    color: #5ba95b;
}

#actualLink{
    text-decoration: none;
    color: #5ba95b;
}
#actualLink:hover{
     cursor: pointer;
 }
.comments{
    height:200px;
    width:90%;
    /*height:315px;
    width:750px;*/
    margin-top: 10px;
    margin-left: 5%;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    float: left;
    overflow-y: auto;
    background-color: white;

}
.addComment{
    height:32px;
    width:100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    float: left;
    border-radius: 5px;
}
input.submitbutton {
    float:right;
    margin-right: 1%;
    background: #484848;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 5px #666666;
    -moz-box-shadow: 3px 3px 5px #666666;
    box-shadow: 3px 3px 5px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    outline: none;
    border: none;
    transition: background-color .3s;
}

input.submitbutton:hover {
    background: #666666;
    text-decoration: none;
    cursor: pointer;
}
input.submitbutton:active {
    position: relative;
    top: 2px;
    left: 2px;  
    -webkit-box-shadow: 0px 0px 0px #666666;
    -moz-box-shadow: 0px 0px 0px #666666;
    box-shadow: 0px 0px 0px #666666;
}
input.submitbutton:disabled {
    background-color: rgb(205, 205, 205);
    box-shadow: none;
    color: white;
    cursor: default;
}

input.privateCheckbox{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 0;
    margin-top: 10px;
    position: relative;
    background-color: white;
}
div.submitContainer{
    float: right;
    margin-left: 0px;
    margin-right: 12.8%;
    width: 29.5%;

}
#submitContainer1{
    color: #484848;
    display: inline-block;
    height: 450px;
    width: 90%;
    margin-top: auto;
    margin-left: 5%;
    padding-top: 10px;
}
#commentButton {
    margin-right: -23px;
    margin-top: 10px;
}
.privateCheckboxLabel{
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
    line-height: 2.7;
}
.commentBar{

}
#visibilityContainer{
    width: 117%;
    margin-left: 0px;
    margin-top: 15px;
    padding-top: 5px;
    display: block;
    float:left;
}
#linkURLinput{
    width:100%;
    height:30px;
    /*font-size: 20px;*/
    color:#484848;
    border-radius: 5px;
    padding-right:100px;
}
#postInspirationHeader{
    font-size: 2em;
    color: #484848;
    margin-bottom: 20px;
    float: left;
}

#submitInspiration
{
    margin-right: -6%;
}
/*id for sign up button*/
#signUpButton
{
    margin: auto;
    float: left;
    margin-bottom: 2%;
    margin-top:15px;
    margin-left: 10%;
    display: block;
}

#signUpButton2
{
    margin-top: 15px;
    float: left;
    margin-bottom: 2%;
    margin-left: 3%;
    display: block;
}

/*DANTLeY"S STUFF*/
.pictureBar{
    display: inline-block;
    margin-left: 2%;
    width:84%;
}
.pictureView{
    width:47%;
    min-height: 450px;
    margin:auto;
    padding: 10px;
    position: relative;
    float: left;
    left: 5.5%;
}
.picture/*this is for the class of the pictures*/
{
    width: 15.3%;
    height:130px;
    /*padding: .4%;*/
}
.picture:hover{
    cursor: pointer;
}
.selectedPicture{
    border: 10px solid #484848;
}
#ImageLine /*this is just for the div in which the picture reside*/
{
    display: inline-block;
    width: 100%;
}
#scrollImageLeft /*scrollImage is for the arrow buttons sorry it is a bad name*/
{
    display: inline-block;
    margin-top: 20px;
    margin-left: 1%;
    margin-right:1%;
    float: left;
    height: 100px;

}
#scrollImageRight /*scrollImage is for the arrow buttons sorry it is a bad name*/
{
    display: inline-block;
    margin-top: 20px;
    float: right;
    height: 100px;

    margin-left: auto;
    margin-right:1%;

}

/*Custom selector box for sort by */
.label {
    display: inline-block;
    cursor: pointer;
    color: #484848;
}
#sortBySelect select{
    border: none;
    color: #eee;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width:125%;
    *background: #484848;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#sortBySelect{
    overflow:hidden;
    width:115px;
    color:#eeeeee;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background: #484848;
    /*background: #484848 url('../Resources/TinyArrow.jpg')no-repeat scroll 80px center;*/
}
#sortBySelect:hover{
    box-shadow:1px 1px 5px #f4f4f4;
    cursor: pointer;
}

#uploadImage{
    width:100%;
    height:auto;
}

#uploadButton{
    float:left!important;
    margin-top:15px;
}

.uploadPreview{
    width:36%;
    padding: 10px;
    margin: -10px 10% 0px 10%;
    float: left;
    height:400px;
}
.orDiv{
    width: 100%;
    float: left;
    margin: 10px 0% 10px 64px;
    font-size: 20px;
    color: #484848;
}
.orDiv2{
    width:100%;
    text-align: center;
    margin-bottom: 30px;

    font-size: 20px;
    color: #484848;
}
.textupload{
    height:0px;
    width:100%;
    /*height:315px;
    width:750px;*/
    margin-top: 25px;
    padding: 50px;
    float: left;
    background-color: white;
}
#urlImageInput{
    width:100%;
    height: 30px;
    display: block;
    border-radius: 5px;
    /*font-size: 20px;*/
    float:left;
    margin:0px 0px 0px 0px;
    color: #484848;
}
input.visibilityCheckbox{
    width: 20px; 
    height: 20px;
    background-color: white;
    vertical-align: middle;
}
img{
    border-width: 0px;
}
input.browse{
    margin-top: 19%;    
}
.welcome{
    background-color: #ffffff;
    font-size: large;
    display: inline-block;
    margin:auto;
    width: 500px;
    height:500px;
    line-height: 500px;
    text-align: center;
}
#signupBox{
    width:90%;
    margin-top: 0px;
    border-radius: 5px;
}
#signinBox{
    width:90%;
}
#signInPassword{
    width:80%;
    height:30px;
    border-radius: 5px;
}
#signInUsername{
    width:80%;
    height:30px;
    border-radius: 5px;
}
.inputSigninPage{
    padding-left: 10px;
    width:80%;
    height:30px;
    border-radius: 5px;
}
#signUpButton{

}
